# Dynamic configuration
http:
  middlewares:
    secureHeaders:
      headers:
        sslRedirect: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

  # services, which are using host networking, has to be defined here
  routers:
    home-assistant:
      rule: "Host(`{{ duckdns.domain }}`)"
      service: home-assistant
      entrypoints:
        - websecure

    esphome:
      rule: "Host(`esphome.{{ duckdns.domain }}`)"
      service: esphome
      entrypoints:
        - websecure

  services:

    home-assistant:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_default_ipv4.address }}:8123"
    esphome:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_default_ipv4.address }}:6052"

tls:
  options:
    default:
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
      minVersion: VersionTLS12

