version: '3.8'
services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:latest
    restart: always
    network_mode: host # to make discovery work, this has to be host
    volumes:
      - "{{ data_dir }}/home-assistant/config:/config"
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
