version: '3'

services:
  zerotier:
    image: zerotier/zerotier:latest
    command: {{ zerotier.network_id }}
    environment:
      - ZEROTIER_API_SECRET={{ zerotier.token }}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    restart: always